body
{
    display: flex;
	flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

header footer
{
    width: 100%;
}

.color
{
    background-color: rgb(87, 156, 135);
}

h1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 150px;
    font-size: 4em;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container
{
    width: 47%;
    margin: 50px 0 0 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgb(235, 235, 235);
    font-size: 25px;
}

#la-note
{
    background-color: rgb(252, 223, 219);
    text-align: center;
}

#la-note p
{
    color: rgb(60, 18, 24);
}

#le-chic
{
    background-color: rgb(255, 245, 254);
    text-align: center;
}

#le-chic p
{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
    background: #c77412; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #c77412 0%, #9861ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #c77412 0%,#9861ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #c77412 0%,#9861ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#9861ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

#le-chic div
{
    color: rgb(199, 116, 18);
}

#le-delice
{
    background-color: rgb(249, 249, 249);
    text-align: center;
}

#le-delice p
{

}

#le-delice div
{
    color: rgb(8, 135, 251);
}

#la-palette
{
    background-color: rgb(253, 255, 255);
    text-align: center;
}

#la-palette p
{

}

#la-palette div
{
    color: rgb(114, 191, 86);
}

#prochainement
{
    display: flex;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#prochainement p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 70px;
    font-size: 2em;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    margin: 0 10px 0 10px;
    font-size: 2em;
}