body
{
    display: flex;
	flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

.color
{
    background-color: rgb(87, 156, 135);
    width: 100%;
}

h1
{
    justify-content: center;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.block
{
    display: flex;
    flex-direction: row;
}

.right
{
    margin: 0px 20px 20px 0px;
}

div .color
{
    display: flex;
    border-radius: 10px;
    width: 60%;
    justify-content: center;
    margin: 7px 13px 7px 13px;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    margin: 0px 5px 0px 5px;
}