body
{
    display: flex;
	flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

header footer
{
    width: 100%;
}

.color
{
    background-color: rgb(87, 156, 135);
}

h1
{
    justify-content: center;
    text-align: center;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.block
{
    display: flex;
    flex-direction: row;
}

.left
{
    width: 40%;
    margin: auto;
}

.right
{
    width: 40%;
    margin: auto;
}

#la-note
{
    background-color: rgb(252, 223, 219);
}

#la-note p
{
    color: rgb(60, 18, 24);
}

#le-chic
{
    background-color: rgb(255, 245, 254);
}

#le-chic p
{

}

#le-chic div
{
    color: rgb(199, 116, 18);
}

#le-delice
{
    background-color: rgb(249, 249, 249);
}

#le-delice p
{

}

#le-delice div
{
    color: rgb(8, 135, 251);
}

#la-palette
{
    background-color: rgb(253, 255, 255);
}

#la-palette p
{

}

#la-palette div
{
    color: rgb(114, 191, 86);
}

#prochainement
{
    display: flex;
    border-radius: 5px;
    width: 40%;
    margin: auto;
}

#prochainement p
{
    text-align: center;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    margin: 0px 5px 0px 5px;
}