body
{
    display: flex;
	flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

header footer
{
    width: 100%;
}

.color
{
    background-color: rgb(87, 156, 135);
}

h1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 150px;
    font-size: 4em;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container
{
    width: 47%;
    margin: 50px 0 0 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 6px;
}

#la-note
{
    background-color: rgb(252, 223, 219);
    text-align: center;
}

#la-note p
{
    color: rgb(60, 18, 24);
}

#le-chic
{
    background-color: rgb(255, 245, 254);
    text-align: center;
}

#le-chic p
{

}

#le-chic div
{
    color: rgb(199, 116, 18);
}

#le-delice
{
    background-color: rgb(249, 249, 249);
    text-align: center;
}

#le-delice p
{

}

#le-delice div
{
    color: rgb(8, 135, 251);
}

#la-palette
{
    background-color: rgb(253, 255, 255);
    text-align: center;
}

#la-palette p
{

}

#la-palette div
{
    color: rgb(114, 191, 86);
}

#prochainement
{
    display: flex;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#prochainement p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 70px;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    margin: 0 10px 0 10px;
}