@font-face {
  font-family: "devonshireregular";
  src: url("../../public/font/font-title-menu1/devonshire-regular-webfont.woff2") format("woff2"), url("../../public/font/font-title-menu1/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissant_oneregular";
  src: url("../../public/font/font-title-menu2/croissantone-regular-webfont.woff2") format("woff2"), url("../../public/font/font-title-menu2/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing_script_otregular";
  src: url("../../public/font/font-tilte-menu3/dancingscript-regular-webfont.woff") format("woff2"), url("../../public/font/font-title-menu3/dancingscript-regular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../../public/font/font-title-menu4/kaushanscript-regular-webfont.woff2") format("woff2"), url("../../public/font/font-title-menu4/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bodoniflfregular";
  src: url("../../public/font/font-texte/bodoniflf-roman-webfont.woff2") format("woff2"), url("../../public/font/font-texte/bodoniflf-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
  margin: 0px;
}

header {
  width: 100%;
  background-color: #579c87;
}
header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 150px;
  font-size: 4em;
}
@media (max-width: 1023px) {
  header h1 {
    font-size: 3em;
  }
}
header .yellow-text {
  color: #fdcb46;
}

.white-section {
  width: 100%;
  padding-bottom: 70px;
}
.white-section .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 50px auto 0;
}
.white-section .search-bar .restaurant-search {
  border-radius: 30px;
  margin-right: 5px;
  width: 65%;
  height: 30px;
  outline: none;
}
.white-section .search-bar .fa-search {
  font-size: 20px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.menu-section .block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu-section .block-mention {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.menu-section .block-mention h1 {
  text-align: center;
}
.menu-section .block-mention div {
  width: 90%;
  margin: auto;
}
.menu-section i {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f45a5f+0,f88e6d+100 */
  background: #f45a5f;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f45a5f 0%, #f88e6d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f45a5f 0%, #f88e6d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f45a5f 0%, #f88e6d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f45a5f", endColorstr="#f88e6d",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 50px;
}
.menu-section .menu-size {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  margin: 25px;
}

a {
  text-decoration: none;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}
.restaurant h2 {
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title img {
  width: 35%;
}
.title .decorated {
  display: inline;
  background: #000000;
  background: linear-gradient(to top, #000000 0, #000000 3px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.title .decorated:hover {
  background-size: 100% 100%;
}

.menu1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  box-shadow: 0 0 18px #ebebeb;
  background-color: #fcdfdb;
  color: #3c1218;
}
.menu1 .text-zone {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu1 h3, .menu1 p {
  font-family: "bodoniflfregular";
}

.menu2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  box-shadow: 0 0 18px #ebebeb;
  background-color: #fff5fe;
}
.menu2 .text-zone {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu2 h3, .menu2 p {
  font-family: "bodoniflfregular";
}
.menu2 .starter {
  color: #be703a;
}
.menu2 .dish {
  color: #b983b3;
}
.menu2 .dessert {
  color: #79389c;
}

.menu3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  box-shadow: 0 0 18px #ebebeb;
  background-color: #edefef;
}
.menu3 .text-zone {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu3 h2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
  background: #061de5;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #061de5 0%, #0887fb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #061de5 0%, #0887fb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #061de5 0%, #0887fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#061de5", endColorstr="#0887fb",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.menu3 h3, .menu3 p {
  font-family: "bodoniflfregular";
}

.menu4 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  box-shadow: 0 0 18px #ebebeb;
  background-color: #fdffff;
}
.menu4 .text-zone {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu4 h2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#72bf56+0,bfff7e+100 */
  background: #72bf56;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #72bf56 0%, #bfff7e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #72bf56 0%, #bfff7e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #72bf56 0%, #bfff7e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#72bf56", endColorstr="#bfff7e",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.menu4 h3, .menu4 p {
  font-family: "bodoniflfregular";
}

.up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.up i {
  font-size: 40px;
}
.up h2 {
  margin: 0;
}
.up .bold {
  font-weight: bold;
}
.up .first-menu {
  font-family: "devonshireregular";
}
.up .second-menu {
  font-family: "croissant_oneregular";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
  background: #c77412;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #c77412 0%, #9861ef 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #c77412 0%, #9861ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c77412 0%, #9861ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c77412", endColorstr="#9861ef",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.up .third-menu {
  font-family: "dancing_script_otregular";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
  background: #061de5;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #061de5 0%, #0887fb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #061de5 0%, #0887fb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #061de5 0%, #0887fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#061de5", endColorstr="#0887fb",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.up .fourth-menu {
  font-family: "kaushan_scriptregular";
  background: #72bf56;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #72bf56 0%, #bfff7e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #72bf56 0%, #bfff7e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #72bf56 0%, #bfff7e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#72bf56", endColorstr="#bfff7e",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.up img {
  height: 60px;
  width: 60px;
}

h3 {
  text-align: center;
}
h3 span {
  width: 25%;
}

.choice {
  display: flex;
  width: 88%;
  margin: auto;
}
.choice .food {
  width: 90%;
}
.choice .price {
  width: 10%;
  text-align: right;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.down img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.down .first-menu {
  font-family: "devonshireregular";
}

/*start home page*/
.container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 18px #ebebeb;
  transform: scale(1);
  transition-property: transform 400ms;
}
.container:hover {
  transform: scale(1.15);
}
.container .restaurant-name {
  font-size: 25px;
}
.container .capital-letter {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.description-menu1 {
  background-color: #fcdfdb;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-menu1 .restaurant-name {
  color: #3c1218;
  font-family: "devonshireregular";
  font-size: 35px;
}
.description-menu1 .capital-letter {
  color: #3c1218;
}
.description-menu1 img {
  height: 60px;
  width: 60px;
}

.description-menu2 {
  background-color: #fff5fe;
  text-align: center;
}
.description-menu2 .restaurant-name {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
  background: #c77412;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #c77412 0%, #9861ef 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #c77412 0%, #9861ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c77412 0%, #9861ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c77412", endColorstr="#9861ef",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-family: "croissant_oneregular";
}
.description-menu2 .capital-letter {
  color: #c17232;
}

.description-menu3 {
  background-color: #edefef;
  text-align: center;
}
.description-menu3 .restaurant-name {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
  background: #061de5;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #061de5 0%, #0887fb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #061de5 0%, #0887fb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #061de5 0%, #0887fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#061de5", endColorstr="#0887fb",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-family: "dancing_script_otregular";
}
.description-menu3 .capital-letter {
  color: #061de5;
}

.description-menu4 {
  background-color: #fdffff;
  text-align: center;
}
.description-menu4 p {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#72bf56+0,bfff7e+100 */
  background: #72bf56;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #72bf56 0%, #bfff7e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #72bf56 0%, #bfff7e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #72bf56 0%, #bfff7e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#72bf56", endColorstr="#bfff7e",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-family: "kaushan_scriptregular";
}

.next {
  display: flex;
  border-radius: 10px;
  width: 35%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: #579c87;
}
.next p {
  margin: 10px 25px 10px 25px;
  font-size: 30px;
  color: #fdcb46;
  text-align: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .next p {
    font-size: 15px;
  }
}

/*end home page*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer-terms {
  width: 50%;
  margin: auto;
}
footer .footer-terms p {
  text-align: center;
}
footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  margin: 0px 10px 0px 10px;
  font-size: 20px;
  color: #fdcb46;
}

/*# sourceMappingURL=main.css.map */
