
body{
    @include flex-column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}
header{
    width: 100%;
    background-color: $couleur-bg-extremité;       
    h1{
        @include flex-column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: 150px;
        font-size: 4em;
    }
    .yellow-text{
            color: $couleur-text-extremité;
    }
}

.white-section{
    width: 100%;
    .menu-section{
        @include flex-column;
        width: 70%;
        margin: auto;
        .block{
            display: flex;
            justify-content: space-between;
        }
        i{
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f45a5f+0,f88e6d+100 */
            background: #f45a5f; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #f45a5f 0%, #f88e6d 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #f45a5f 0%,#f88e6d 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #f45a5f 0%,#f88e6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45a5f', endColorstr='#f88e6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            -moz-text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            font-size: 50px;
        }
    }
}

.restaurant{
    @include flex-column;
    @include restaurant-name;
    h2{
        margin: 0;
    }
}

.menu-la-note{
    @include flex-column;
    @include specs-menu;
    background-color: rgb(252, 223, 219);
    color: rgb(61, 19, 25);
    .text-zone{
        @include specs-text-zone;
    }
}


.menu-le-chic{
    @include flex-column;
    @include specs-menu;
    background-color: rgb(255, 245, 254);
    color: rgb(61, 19, 25);
    .text-zone{
        @include specs-text-zone;
    }
}

.menu-le-délice{
    @include flex-column;
    @include specs-menu;
    background-color: rgb(237, 239, 239);
    .text-zone{
        @include specs-text-zone()
    }
    h2{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
        background: #061de5; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #061de5 0%, #0887fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #061de5 0%,#0887fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #061de5 0%,#0887fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061de5', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
}

.menu-la-palette{
    @include flex-column;
    @include specs-menu;
    background-color: rgb(253, 255, 255);

    .text-zone{
        @include specs-text-zone;
    }
    h2{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#72bf56+0,bfff7e+100 */
        background: #72bf56; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #72bf56 0%, #bfff7e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #72bf56 0%,#bfff7e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #72bf56 0%,#bfff7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bf56', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
}

.up{
    @include flex-column;
    @include content-items-center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    i{
        font-size: 40px;
    }
    h2{
        margin: 0;
    }
    .bold{
        font-weight: bold;
    }
}

h3{
    text-align: center;
    span{
        width: 25%;
    }
}

.choice{
    display: flex;
    width: 88%;
    margin: auto;
    .food{
    width: 90%;
    }
    .price{
    width: 10%;
    text-align: right;
    }
}

.down{
    display: flex;
    @include content-items-center;
    font-size: 20px;
    font-weight: bold;
    i{
    font-size: 40px;
    margin-right: 5px;
    }
}
                
.container{
    width: 45%;
    margin: 70px 0 0 0;
    height: 600px;
    @include flex-column;
    justify-content: center;
    box-shadow: 0 0 18px rgb(235, 235, 235);                  
    p{
        font-size: 25px;
    }
    a{
        font-size: 35px;
        font-weight: bold;
    }
}

.la-note{
    background-color: rgb(252, 223, 219);
    text-align: center;
    p{
        color: rgb(60, 18, 24);
    }
    a{
        color: rgb(60, 18, 24);
    }
}
        
.le-chic{
    background-color: rgb(255, 245, 254);
    text-align: center;
        p{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
        background: #c77412; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #c77412 0%, #9861ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #c77412 0%,#9861ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #c77412 0%,#9861ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#9861ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    a{
        color: rgb(199, 116, 18);
    }
}

.le-delice{
    background-color: rgb(249, 249, 249);
    text-align: center;
    p{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
        background: #061de5; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #061de5 0%, #0887fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #061de5 0%,#0887fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #061de5 0%,#0887fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061de5', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    a{
        color: rgb(8, 135, 251);
    }
}
                
.la-palette{
    background-color: rgb(253, 255, 255);
    text-align: center;
    p{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#72bf56+0,bfff7e+100 */
        background: #72bf56; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #72bf56 0%, #bfff7e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #72bf56 0%,#bfff7e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #72bf56 0%,#bfff7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bf56', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    a{
        color: rgb(114, 191, 86);
    }
}

.next{
    display: flex;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $couleur-bg-extremité;
    p{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        color: $couleur-text-extremité;
        align-items: center;
    }
}
    
footer{
display: flex;
justify-content: space-between;
background-color: $couleur-bg-extremité;
    p {
    @include flex-column;
    justify-content: center;
    height: 70px;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    color: $couleur-text-extremité;
    }
}