
body{
    @include flex-column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}
header{
    width: 100%;
    background-color: $couleur-bg-extremité;    
    h1{
        @include flex-column;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: 150px;
        font-size: 4em;
        @media (max-width: 1023px) {
            font-size: 3em;
        }
    }
    .yellow-text{
            color: $couleur-text-extremité;
    }
}

.white-section{
    width: 100%;
    padding-bottom: 70px;
    .search-bar{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 75px;
        background-color: #e8e8e8;
        ;
        .restaurant-search{
            margin-left: 5px;
            width: 100%;
            outline: none;
            border: none;
            background-color: #e8e8e8;
        }
        .fa-search{
            font-size: 40px;
            color: #999999;
            transform: rotate(90deg);
            margin-left: 5px;
        }
    }
}
.menu-section{
    @include flex-column;
    margin: auto;
    .block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .block-mention{
        @include flex-column;
        margin:20px auto;
        h1{
            text-align: center;
        }
        div{
            width: 90%;
            margin: auto;
        }
    }
    i{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f45a5f+0,f88e6d+100 */
        background: #f45a5f; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #f45a5f 0%, #f88e6d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #f45a5f 0%,#f88e6d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #f45a5f 0%,#f88e6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45a5f', endColorstr='#f88e6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-size: 50px;
    }
    .menu-size{
        width: 100%;
        max-width: 400px;
        min-width: 300px;
        margin: 25px;
    }
}

a{
    text-decoration: none;
}

.restaurant{
    @include flex-column;
    @include restaurant-name;
    h2{
        margin: 0;
    }
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 35%;
    }
    .decorated-menu-1{
        display: inline;
        background: linear-gradient(to top, #3c1218 0, #3c1218 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-21{
        display: inline;
        background: linear-gradient(to top, #c67412 0, #c67412 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-22{
        display: inline;
        background: linear-gradient(to top, #a56799 0, #a56799 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-23{
        display: inline;
        background: linear-gradient(to top, #6e4ccc 0, #6e4ccc 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-31{
        display: inline;
        background: linear-gradient(to top, #1d3edf 0, #1d3edf 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-32{
        display: inline;
        background: linear-gradient(to top, #1578f3 0, #1578f3 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-33{
        display: inline;
        background: linear-gradient(to top, #229df9 0, #229df9 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
    .decorated-menu-4{
        display: inline;
        background: linear-gradient(to top, #91d967 0, #91d967 3px, transparent 3px) no-repeat;
        @include decorated-menu;
        &:hover{
            background-size: 100% 100%;
        }
    }
}
.title-decorated{
    text-align: center;
}
.menu1{
    @include flex-column;
    @include specs-menu;
    background-color: #fcdfdb;
    color: #3c1218;
    .text-zone{
        @include specs-text-zone;
    }
    h3, p{
        font-family: 'bodoniflfregular';
    }
}


.menu2{
    @include flex-column;
    @include specs-menu;
    background-color: #fff5fe;
    .text-zone{
        @include specs-text-zone;
    }
    h3, p{
        font-family: 'bodoniflfregular';
    }
    .starter{
        color: #be703a;
    }
    .dish{
        color: #b983b3;
    }
    .dessert{
        color: #79389c;
    }
}

.menu3{
    @include flex-column;
    @include specs-menu;
    background-color: #edefef;
    .text-zone{
        @include specs-text-zone()
    }
    h2{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
        background: #061de5; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #061de5 0%, #0887fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #061de5 0%,#0887fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #061de5 0%,#0887fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061de5', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    h3, p{
        font-family: 'bodoniflfregular';
    }
}

.menu4{
    @include flex-column;
    @include specs-menu;
    background-color: #fdffff;
    .text-zone{
        @include specs-text-zone;
    }
    h2{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#72bf56+0,bfff7e+100 */
        background: #72bf56; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #72bf56 0%, #bfff7e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #72bf56 0%,#bfff7e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #72bf56 0%,#bfff7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bf56', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    h3, p{
        font-family: 'bodoniflfregular';
    }
}

.up{
    @include flex-column;
    @include content-items-center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    i{
        font-size: 40px;
    }
    h2{
        margin: 0;
    }
    .bold{
        font-weight: bold;
    }
    .first-menu{
        font-family: 'devonshireregular';
    }
    .second-menu{
        font-family: 'croissant_oneregular';
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
        background: #c77412; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #c77412 0%, #9861ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #c77412 0%,#9861ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #c77412 0%,#9861ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#9861ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    .third-menu{
        font-family: 'dancing_script_otregular';
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
        background: #061de5; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #061de5 0%, #0887fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #061de5 0%,#0887fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #061de5 0%,#0887fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061de5', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    .fourth-menu{
        font-family: 'kaushan_scriptregular';
        background: #72bf56; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #72bf56 0%, #bfff7e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #72bf56 0%,#bfff7e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #72bf56 0%,#bfff7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bf56', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }
    img{
        height: 60px;
        width: 60px;
    }
}

h3{
    text-align: center;
    span{
        width: 25%;
    }
}

.choice{
    display: flex;
    width: 88%;
    margin: auto;
    .food{
    width: 90%;
    }
    .price{
    width: 10%;
    text-align: right;
    }
}

.down{
    display: flex;
    @include content-items-center;
    font-size: 20px;
    font-weight: bold;
    img{
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }
    .first-menu{
        font-family: 'devonshireregular';
    }
}

/*start home page*/           
.container{
    height: 500px;
    @include flex-column;
    @include content-items-center;
    box-shadow: 0 0 18px rgb(235, 235, 235);
    .restaurant-name{
        font-size: 25px;
    }
    .capital-letter{
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }
}
.container-content{
    transition: .4s;
    &:hover{
        transform: scale(1.3); 
        opacity: .5; 
    }
}

.description-menu1{
    background-color: #fcdfdb;
    text-align: center;
    @include flex-column;
    @include content-items-center;
    .restaurant-name{
        color:  #3c1218;
        font-family:'devonshireregular';
        font-size: 35px;
    }
    .capital-letter{
        color: #3c1218
    }
    img{
        height: 60px;
        width: 60px;
    }
}
        
.description-menu2{
    background-color: #fff5fe;
    text-align: center;
    .restaurant-name{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
        background: #c77412; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #c77412 0%, #9861ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #c77412 0%,#9861ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #c77412 0%,#9861ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#9861ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-family:'croissant_oneregular';
    }
    .capital-letter{
        color: #c17232;
    }

}

.description-menu3{
    background-color: #edefef;
    text-align: center;
    .restaurant-name{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
        background: #061de5; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #061de5 0%, #0887fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #061de5 0%,#0887fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #061de5 0%,#0887fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061de5', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-family: 'dancing_script_otregular';
    }
    .capital-letter{
        color: #061de5;
    }
}
                
.description-menu4{
    background-color: #fdffff;
    text-align: center;
    p{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#72bf56+0,bfff7e+100 */
        background: #72bf56; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #72bf56 0%, #bfff7e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #72bf56 0%,#bfff7e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #72bf56 0%,#bfff7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bf56', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-family:'kaushan_scriptregular';
    }
}

.next{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: $couleur-bg-extremité;
    border: 0;
}

.loading{
    font-size: 30px;
    color: $couleur-text-extremité;
    cursor: wait;
    }

.loading:after{
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;
    }
}
/*end home page*/   

footer{
display: flex;
justify-content: space-between;
background-color: $couleur-bg-extremité;
position: fixed;
bottom: 0;
width: 100%;
height: 70px;
    .btn{
        @include flex-column;
        justify-content: center;
        height: 50px;
        margin: 10px;
        font-size: 20px;
        color: $couleur-text-extremité;
        border: 0;
        align-items: center;
        background-color: $couleur-bg-extremité;
        cursor: pointer;
        
        &:hover{
            animation: thing 3s infinite;
        }
    }
}
@keyframes thing{
    0%{transform: rotate(0deg);}
    3%{transform: rotate(-7deg);}
    4%{transform: rotate(7deg);}
    5%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}

.footer-terms{
    width: 100%;
    max-width: 175px;
    margin: auto;
}