@font-face {
    font-family: 'devonshireregular';
    src: url('../../public/font/font-title-menu1/devonshire-regular-webfont.woff2') format('woff2'),
         url('../../public/font/font-title-menu1/devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'croissant_oneregular';
    src: url('../../public/font/font-title-menu2/croissantone-regular-webfont.woff2') format('woff2'),
         url('../../public/font/font-title-menu2/croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../../public/font/font-tilte-menu3/dancingscript-regular-webfont.woff') format('woff2'),
         url('../../public/font/font-title-menu3/dancingscript-regular-webfont.woff2') format('woff'),;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../../public/font/font-title-menu4/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../../public/font/font-title-menu4/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bodoniflfregular';
    src: url('../../public/font/font-texte/bodoniflf-roman-webfont.woff2') format('woff2'),
         url('../../public/font/font-texte/bodoniflf-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}