body
{
    display: flex;
    flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

header footer
{
    width: 100%;
}

.color
{
    background-color: rgb(87, 156, 135);
}

#white-section
{

}

#resto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

h1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 150px;
    font-size: 4em;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: rgb(252, 223, 219);
    color: rgb(61, 19, 25);
    margin-top: 80px;
    margin-bottom: 80px;
}

#zone-text
{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#superieur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.gras
{
    font-weight: bold;
}

.decorated
{
    overflow: hidden;
    text-align: center;
}
.decorated > span
{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after
{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 200%; /* half of limiter*/
   margin: 0 20px;
}
.decorated > span:before
{
   right: 100%;
}
.decorated > span:after
{
   left: 100%;
}

.choix
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.food
{
    width: 85%;
}

.prix
{
    width: 15%;
}

#inferieur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    margin: 0 10px 0 10px;
    font-size: 2em;
}