body
{
    display: flex;
    flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

header footer
{
    width: 100%;
}

.color
{
    background-color: rgb(87, 156, 135);
}

h1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 150px;
    font-size: 4em;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#white-section
{

}

#resto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

h2
{
    margin:0;
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: rgb(249, 249, 249);
    color: rgb(61, 19, 25);
    margin-top: 20px;
    margin-bottom: 90px;
}

#zone-text
{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#superieur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

#superieur i
{
    font-size: 40px;
}

#superieur h2
{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#061de5+0,0887fb+100 */
        background: #061de5; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #061de5 0%, #0887fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #061de5 0%,#0887fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #061de5 0%,#0887fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061de5', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
}

.gras
{
    font-weight: bold;
}

span
{
    width: 25%;
}

.decorated
{
    overflow: hidden;
    text-align: center;
}
.decorated > span
{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after
{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 800%; /* half of limiter*/
   margin: 0 20px;
}
.decorated > span:before
{
   right: 100%;
}
.decorated > span:after
{
   left: 100%;
}

.choix
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

.food
{
    width: 90%;
}

.prix
{
    width: 10%;
    text-align: right;
}

#inferieur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#inferieur i
{
    font-size: 40px;
    margin-right: 5px;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    margin: 0 10px 0 10px;
    font-size: 20px;
}