body
{
    display: flex;
    flex-direction: column;
	font-family: sans-serif;
	width: 100%;
    margin: 0px;
}

header footer
{
    width: 100%;
}

.color
{
    background-color: rgb(87, 156, 135);
}

h1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 150px;
    font-size: 4em;
}

.yellow
{
    color: rgb(253, 203, 70);
}

#white-section
{

}

#resto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

h2
{
    margin:0;
}

#menu-section
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 245, 254);
    color: rgb(61, 19, 25);
    margin-top: 20px;
    margin-bottom: 90px;
    box-shadow: 0 0 18px rgb(235, 235, 235);
}

#zone-text
{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#superieur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

#superieur h2
{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c77412+0,9861ef+100 */
        background: #c77412; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #c77412 0%, #9861ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #c77412 0%,#9861ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #c77412 0%,#9861ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#9861ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
}

.gras
{
    font-weight: bold;
}

#entré
{
    color: rgb(198, 116, 18);
}

#plat
{
    color: rgb(179, 125, 168);
}

#dessert
{
    color: rgb(132, 102, 212);
}

span
{
    width: 25%;
}

.decorated
{
    overflow: hidden;
    text-align: center;
}
.decorated > span
{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after
{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 800%; /* half of limiter*/
   margin: 0 20px;
}
.decorated > span:before
{
   right: 100%;
}
.decorated > span:after
{
   left: 100%;
}

.choix
{
    display: flex;
    flex-direction: row;
    width: 88%;
    margin: auto;

.choix p
{
    margin: 10px;
}

#entré, #plat, #dessert
{
    margin-bottom: 40px;
}

.food
{
    width: 90%;
}

.prix
{
    width: 10%;
    text-align: right;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    margin: 0 10px 0 10px;
    font-size: 20px;
}

@media all and (max-width:600px)
{
    #menu-section
    {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        background-color: rgb(255, 245, 254);
        color: rgb(61, 19, 25);
        margin-top: 20px;
        margin-bottom: 90px;
        box-shadow: 0 0 18px rgb(235, 235, 235);
    }

    #zone-text
    {
        width: 90%;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .choix
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-size: 20px;
    }
    
    .choix p
    {
        margin: 10px;
    }

    .food
    {
        width: 85%;
    }

    .prix
    {
        width: 15%;
        text-align: right;
    }
    
    footer p
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70px;
        margin: 0 8px 0 8px;
    }
}